[login]
host_mme	= 172.0.5.35
host_4ggw	= 172.0.5.36
host_sgw	= 172.0.5.37
host_pgw	= 172.0.5.38
port		= 22
username	= root
password	= casa

host_165mme	= 172.0.10.165

[cli]
showMmeInfo				 = show mme info
showTaskCrash 				 = show task crash
showHaInfo 				 = show ha info
showSgwcPfcp				 = show sgw-c stats pfcp peer
showPgwcPfcp				 = show pgw-c stats pfcp peer
showSgwcSessionSummary			 = show sgw-c session summary
showSgwuPfcp				 = show sgw-u stats pfcp peer
showUpfPfcp				 = show upf stats pfcp peer
showUpfSessionCounter			 = show upf session all counter
showUpfSession				 = show upf session all
showLteServiceHenbGatewayHenbInterface	 = show lte-service henb-gateway henb-interface henbs verbose
